#image_templar {
  width : 50px;
}

#header  h2 {
  float : left;
}
ul {
list-style: none;
}
.comment {
  width : 400px;
  border : 1px solid black;
  margin-bottom : 2px;
}

.user-name {
  font-weight : bold;
  border-bottom : 1px solid black;
  margin-bottom : 2px;
}

#comments {
float : left;
margin-right : 150px;
}

#players {
float : left;
}
.left {
  float : left;
}

.space {
  padding : 0px 5px;
}



.pane {
border : 1px black solid;
}