
<row>
  
  <column colnum="0">
    <input type="checkbox" value="{{AdForm.useMyLocation}}"/>
  </column>
  
</row>

<row hideIf="{{AdForm.useMyLocation.checked[0]}}">
  
  <column colnum="0">
    <select name="state">{{ProfileForm.states}}</select>
  </column>
  
  <column colnum="3">
    <select name="state">{{ProfileForm.cities}}</select>
  </column>
  
  <column colnum="6">
    <input type="checkbox" value="{{AdForm.useCustomCity}}"/>
  </column>

  <row showIf="{{AdForm.useCustomCity.checked[0]}}">
    <label>City : </label>
    <column colnum="0">
      <input type="text" size="30" value="{{AdForm.customCity}}"/>
    </column>
    
  </row>
  
</row>



<row>

  <column colnum="0">
    <input type="checkbox" value="{{AdForm.isItemFree}}"/>
  </column>
  
  <column colnum="3" hideIf="{{AdForm.isItemFree.checked[0]}}">
    <row>
      <column colnum="0">
        <label>Price</label>
      </column>
    </row>
    
    <row class="no-margin">
      <column colnum="0">
        <input type="text" size="10" value="{{AdForm.itemPrice}}"/>
      </column>
    </row>
    
  </column>

</row>
<!--
<input type="checkbox" value="{{AdForm.isItemFree}}"/>
<div isVisible="{{AdForm.isItemFree.checked[0]}}">Toggle ME</div>
-->