<row>
  
  <column colnum="0">
    <input type="checkbox" value="{{AdForm.useMyLocation}}"/>
  </column>
  
</row>

<row isVisible="{{AdForm.useMyLocation.current_selection}}">
  
  <column colnum="0">
    <select name="state">{{ProfileForm.states}}</select>
  </column>
  
  <column colnum="3">
    <select name="state">{{ProfileForm.cities}}</select>
  </column>
  
  <column colnum="6">
    <input type="checkbox" value="{{AdForm.useCustomCity}}"/>
  </column>

  <row isVisible="{{AdForm.useCustomCity.current_selection}}">
    <label>City : </label>
    <column colnum="0">
      <input type="text" size="30" value="{{AdForm.customCity}}"/>
    </column>
    
  </row>
  
</row>



<row>

  <column colnum="0">
    <input type="checkbox" value="{{AdForm.isItemFree}}"/>
  </column>
  
  <column colnum="3" isVisible="{{AdForm.isItemFree.current_selection}}">
    <row>
      <column colnum="0">
        <label>Price</label>
      </column>
    </row>
    
    <row class="no-margin">
      <column colnum="0">
        <input isDisabled="{{AdForm.disablePriceField}}" 
               type="text" size="10" value="{{AdForm.itemPrice}}"/>
      </column>
    </row>
    
  </column>

</row>