<!-- Individual Ad Listing Template (repeated by framework) -->
<row data-apl-repeat="{{Ads.myAds}}">

  <row class="my-ad-header">
    <column colnum="0">Posted</column>
    <column colnum="1.5">Title</column>
  </row>
  
  <row class="my-ad-body">
    <column colnum="0">{{start}}</column>
    <column colnum="1.5">{{title}}</column>
    <column colnum="7">
      <a class="clickable-word" href="#/show-ad/{{ad_id}}">View</a>
      
      <a class="clickable-word" href="#/edit-ad/{{ad_id}}/state/{{state}}">Edit</a>
      
      <a class="change-ad-state clickable-word" 
        index="{{$index}}" 
        ad_id="{{ad_id}}">{{action}}</a>
        
      <a class="delete-ad clickable-word" 
        index="{{$index}}" 
        ad_id="{{ad_id}}">Delete</a>
        
    </column>
  </row>
  
</row>

