<div id="profile-left-col">
  <row><img class="full-profile-img" src="{{UserProfile.pp_src}}"/></row>
  <div id="about-me" class="center">
    <row>{{UserProfile.fn}} {{UserProfile.ln}}, {{UserProfile.age}}</row>
    <row>{{UserProfile.city}}, {{UserProfile.state}}</row>
    <row>{{UserProfile.description}}</row>
  </div>
</div>
<div id="profile-right-col">
  <row>Posted Ads</row>
  <div id="profile-ads">
    <row class="my-ad-header">
      <column colnum="0">Posted</column>
      <column colnum="3.5">Title</column>
    </row>
    <row data-apl-repeat="{{UserProfile.ads}}">

      <row class="my-ad-body">
        <column colnum="0">{{start}}</column>
        <column colnum="3.5">{{title}}</column>
      </row>
      
    </row>

    
    <a class="clickable-word">See All</a>
  </div>
  <div style="clear: both;"></div>

  <row>Buyer Reviews</row>

</div>