<div class="row">
    <div class="col-lg-5 col-xs-6 col-xs-offset-3 col-lg-offset-0">
        <img class="img-thumbnail img-responsive" src="{{UserProfile.pp_src}}"/>
        
    </div>
    
    <div class="clearfix hidden-lg"></div>

    
    <div class="col-lg-7 col-xs-6 col-xs-offset-3 col-lg-offset-0">
    
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-map-marker"></span></div>
            <div class="col-xs-16">
                <div>{{UserProfile.city}}, {{UserProfile.state}}</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-user"></span></div>
            <div class="col-xs-16">
                <div>{{UserProfile.fn}} {{UserProfile.ln}}</div>
                <div>Age: {{UserProfile.age}}</div>
            </div>
        </div>
        
    </div>
    
</div>

<div class="profile-description-box text-center">
    {{UserProfile.description}}
</div>


