<div class="info text-center">
  <div class="info-heading">
    <div class="info-app-name">
      Billder
    </div>
    <div class="info-app-tagline">
      Construct your own expense sheets!
    </div>
  </div>
  <div class="info-content">
    <p>Get started by creating a new expense category (e.g. August bills)</p>
    <div class="add-billset input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Enter expense category" value="{{billSetCollection.input}}">
      <span class="input-group-btn">
        <button id="add-billset-btn" class="btn btn-primary" type="button">Create</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>