<h1>{{ProfileForm.title}}</h1>

<div class="center">
  <p>Welcome <strong>{{UserProfile.un}}</strong></p>
  <p>{{ProfileForm.msg}}</p>
  <h2>{{Environment.error}}</h2>
  <h2>{{Environment.success_msg}}</h2>
</div>



  <form id="form_pp_pic" name="form_pp_pic" method="post" enctype="multipart/form-data" action="{{Environment.pic_submission_url}}">
    <row>
      <img id="pp_preview" src="{{UserProfile.pp_src}}" >
    </row>
    
    <row>
      <label for="profile_pic">Profile Image:</label>
      <input type="file" name="profile_pic[]" id="profile_pic" tabindex="1">
      <input type="hidden" name="uid" value="{{UserProfile.uid}}">
    </row>
    
    <row>
      <label></label>
      <button type="submit">Upload Image</button>
    </row>
    
    <row>
      <label for="first-name">First Name:</label>
      <input type="text" name="first-name" value="{{UserProfile.fn}}">
    </row>
    
    <row>
      <label for="last-name">Last Name:</label>
      <input type="text" name="last-name" value="{{UserProfile.ln}}">
    </row>
    
    <row>
      <label for="age">Age:</label>
      <select name="age">{{ProfileForm.age}}</select>
    </row>
    
    <row>
      <label for="sex">Sex:</label>
      <input type="radio" name="sex" value="{{ProfileForm.sex}}"/>
    </row>
    
    <row>
      <label for="state">State:</label>
      <select name="state">{{ProfileForm.states}}</select>
    </row>
    
    <row>
      <label for="city">City:</label>
      <select name="city">{{ProfileForm.cities}}</select>
    </row>
    
    <row>
      <label for="city">Description:</label>
      <textarea rows="3" name="description" value="{{ProfileForm.description}}"></textarea>
    </row>
    
    
    
  </form>

  <row>
    <button class="flatbtn" id="btn-update-profile">Update</button>
  </row>
    
  <div style="clear: both;">

