<div class="center error">
  <h2>{{Environment.error}}</h2>
</div>
<h1>{{Environment.siteName}}</h1>

   
  
  <div id="loginmodal" style="display:none;">
    <h1>User Login</h1>
    <form id="loginform" name="loginform" method="post" action="index.html">
      <label for="username">Username:</label>
      <input value="{{LoginForm.un}}" type="text" name="username" id="username" class="txtfield" tabindex="1">
      
      <label for="password">Password:</label>
      <input value="{{LoginForm.pw}}" type="password" name="password" id="password" class="txtfield" tabindex="2">
      
      <div class="center">
        <button name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" tabindex="3">
          Log In
        </button>
      </div>
    </form>
  </div>
  
  <div id="sign-up-modal" style="display:none;">
    <h1>User Login</h1>
    <div class="center error">
      <h2 data-apl-repeat="{{LoginForm.validation_msgs}}">{{}}</h2>
    </div>

    <form id="form-sign-up" name="form-sign-up" method="post" action="index.html">
      <label for="username">Username:</label>
      <input value="{{LoginForm.un}}" type="text" name="username" id="username" class="txtfield" tabindex="1">
      
      <label for="username">Email:</label>
      <input value="{{LoginForm.email}}" type="text" name="email" id="email" class="txtfield" tabindex="1">
      
      <label for="password">Password:</label>
      <input value="{{LoginForm.pw}}" type="password" name="password" id="password" class="txtfield" tabindex="2">
      
      <label for="password">Confirm Password:</label>
      <input value="{{LoginForm.confirm_pw}}" type="password" name="password" id="password" class="txtfield" tabindex="2">

      <div class="center">
        <button isDisabled="{{LoginForm.submissionDisabled}}" name="btn-sign-up" id="btn-sign-up" class="flatbtn-blu hidemodal" tabindex="3">
          Sign Up
        </button>
      </div>
    </form>
  </div>