<h1>{{Environment.banner}}</h1>

<div class="center" id="feedback-center">
  <h2 class="error" id="error-msg">{{Environment.error}}</h2>
  <h2 id="success-msg">{{Environment.success_msg}}</h2>
</div>

<row class="center">
  <a class="menu-btn hvr-buzz-out" id="goto-new-ad" href="#/new-ad">New Ad</a>
  <a class="menu-btn hvr-buzz-out" id="goto-my-ads" href="#/my-ads">My Ads</a>
  <a class="menu-btn hvr-buzz-out" id="goto-messages" href="#/messages">Messages</a>
  <a class="menu-btn hvr-buzz-out" id="goto-people" href="#/ad-search">Search Ads</a>
</row>

<div style="clear: both;">

<div id="profile-left-col">
<row>
  <img class="pp_preview" src="{{UserProfile.pp_src}}" >
</row>

<row>
  <label for="first-name">First Name:</label> 
</row>

<row>
  {{UserProfile.fn}}
</row>

<row>
  <label for="last-name">Last Name:</label> 
</row>

<row>
  {{UserProfile.ln}}
</row>

<row>
  <label for="age">Age:</label> {{UserProfile.age}}
</row>

<row>
  <label for="sex">Sex:</label> {{UserProfile.sex}}
</row>


<row>
  <label for="state">State:</label> 
</row>

<row>
  {{UserProfile.state}}
</row>

<row>
  <label for="city">City:</label> 
</row>

<row>
  {{UserProfile.city}}
</row>

<row>
  <label for="city">Description:</label> 
</row>

<row>
  {{UserProfile.description}}
</row>


</div>

<div id="profile-right-col"></div>
<div style="clear: both;">