<h1>{{Environment.banner}}</h1>

<div class="center">
  <h2>{{Environment.error}}</h2>
  <h2>{{Environment.success_msg}}</h2>
</div>

<row>
  <a class="menu-btn" id="goto-new-ad" href="#/new-ad">New Ad</a>
  <a class="menu-btn" id="goto-my-ads" href="#/my-ads">My Ads</a>
  <a class="menu-btn" id="goto-messages" href="#/messages">Messages</a>
  <a class="menu-btn" id="goto-wall" href="#/wall">Wall</a>
</row>

<div style="clear: both;">

<div id="profile-left-col">
<row>
  <img class="pp_preview" src="{{UserProfile.pp_src}}" >
</row>


<row>
  <label for="first-name">First Name:</label> {{UserProfile.fn}}
</row>

<row>
  <label for="last-name">Last Name:</label> {{UserProfile.ln}}
</row>

<row>
  <label for="age">Age:</label> {{UserProfile.age}}
</row>

<row>
  <label for="sex">Sex:</label> {{UserProfile.sex}}
</row>

<row>
  <label for="state">State:</label> {{UserProfile.state}}
</row>

<row>
  <label for="city">City:</label> {{UserProfile.city}}
</row>

<row>
  <label for="city">Description:</label> {{UserProfile.description}}
</row>

</div>

<div id="profile-right-col" data-apl-default="partials/Profile/wall.html">
</div>
<div style="clear: both;">