<row>
    <img class="pp_preview" src="{{MyProfile.pp_src}}" >
  </row>

  <row>
    <label for="first-name">First Name:</label> 
  </row>

  <row>
    {{MyProfile.fn}}
  </row>

  <row>
    <label for="last-name">Last Name:</label> 
  </row>

  <row>
    {{MyProfile.ln}}
  </row>

  <row>
    <label for="age">Age:</label> {{MyProfile.age}}
  </row>

  <row>
    <label for="sex">Sex:</label> {{MyProfile.sex}}
  </row>


  <row>
    <label for="state">State:</label> 
  </row>

  <row>
    {{MyProfile.state}}
  </row>

  <row>
    <label for="city">City:</label> 
  </row>

  <row>
    {{MyProfile.city}}
  </row>

  <row>
    <label for="city">Description:</label> 
  </row>

  <row>
    {{MyProfile.description}}
  </row>