<div hideIf="{{AdSearch.returnedAds.length}}" class="my-ad-header">
  <div><a class="clickable-word" id="ad-search-date-sort">Posted</a></div>
  <div><a class="clickable-word" id="ad-search-title-sort">Title</a></div>
</div>
  
<div data-apl-repeat="{{AdSearch.returnedAds}}">
  <div class="my-ad-body">
  
    <div>{{start}}</div>
    <div>
      <a class="clickable-word view-ad" index="{{$index}}" 
        href="#/ad-search/show-ad/{{ad_id}}/creator/{{uid}}">{{title}}</a>
    </div>
  
  </div>
  
</div>