<row hideIf="{{AdSearch.returnedAds.length}}" class="my-ad-header">
  <column colnum="0"><a class="clickable-word" id="ad-search-posted-sort">Posted</a></column>
  <column colnum="1.5"><a class="clickable-word" id="ad-search-title-sort">Title</a></column>
</row>
  
<row data-apl-repeat="{{AdSearch.returnedAds}}">
  <row class="my-ad-body">
  
    <column colnum="0">{{start}}</column>
    <column colnum="1.5">
      <a class="clickable-word view-ad" index="{{$index}}" 
        href="#/ad-search/show-ad/{{ad_id}}/creator/{{uid}}">{{title}}</a>
    </column>
  
  </row>
  
</row>