 <form id="" name="" 
        method="post" enctype="multipart/form-data" 
        action="{{Environment.ad_pic_submission_url}}"
        autocomplete="off">
    <row>
    
      <OverlayButton 
        class="hvr-grow upload-ad-pic"
        data-apl-repeat="{{AdForm.ad_images}}" 
        overlay="image/icon/red-x.png"
        src="{{src}}"
        data-id={{id}}>
      </OverlayButton>
      
    </row>
    
    <row>
      <label for="profile_pic">Ad Image:</label>
      <column colnum="2"> 
        <input type="file" name="ad_pic[]" id="ad_pic" tabindex="1">
      </column>
      <input type="hidden" name="uid" value="{{MyProfile.uid}}">
    </row>
    
    <row>
      <column colnum="2"> 
        <button id="pic-submit" type="submit" isDisabled="{{AdForm.disablePicSubmission}}">
          Upload Image
        </button>
      </column>
    </row>
</form>
