<row class="center ad-meta-type-cat">
{{AdForm.adType.current_selection}} - {{AdForm.category.current_selection}}
</row>

<row class="center">
<h1>{{AdForm.title}}</h1>
</row>

<row class="center">
<h2 class="price-under-title">${{AdForm.itemPrice}}</h2>
</row>

<div id="ad-display-pics">
  <row data-apl-repeat="{{AdForm.ad_images}}" >
    <img 
      class="hvr-grow show-ad-pic"
      
      src="{{src}}"
      data-id={{id}}>
    </img>
    
  </row>
</div>

<div id="ad-display-description" class="{{AdForm.descriptionClass}}">
{{AdForm.description}}
</div>
<div style="clear: both;">